a{
	color:#097fd1;
}
a:link{
	color:#097fd1;
	text-decoration:none;
}
body{
	margin:0px;
	font-family:Tahoma,Verdana,Arial,ו;
	background:#fff;
	font-size:12px;
}
#login{
	border:none;
	padding:0px 0px 5px 0px;
	margin:0px auto;
	width:370px;
	float:none;
}
.main{
	background:#fff;
}
#login ul{
	padding:12px 0px 11px 0px;
	margin:0px;
}
#login ul li{
	padding:7px 0px;
	list-style:none;
}
#login ul li span{
	text-align:right;
	width:83px;
	padding-top:7px;
	padding-right:5px;
	color:#535353;
	font-size:12px;
	float:left;
}
#notice{
	color:red;
	padding:0px !important;
}
.inputstyle{
	border:#7f9db9 1px solid;
	margin:0px;
	padding:5px;
	width:190px;
	height:14px;
	font-size:14px;
	color:#808080;
}
#login label{
	position:absolute;
	padding:0px 0px 0px 8px;
	margin-top:10px;
	color:#535353;
}
.login_button{
	padding:0px;
	padding-left:88px;
	margin:0px auto;
	float:none;
}
.btn{
	border:none;
	width:103px;
	height:28px;
	color:#2473a2;
	font-size:14px;
	cursor:pointer;
	font-weight:bold;
	background:url(../images/icons.gif) no-repeat -102px -130px;
}
u{
	text-decoration:none;
	white-space:nowrap;
}
.msg_notice{
	line-height:20px;
	padding:20px 20px 20px 53px;
	color:#333;
}
.error{
	background:url(../images/msg_error_ico.gif) no-repeat 7px 20px;
}
.ok{
	font-size:14px;
	background:url(../images/msg_info_ico.gif) no-repeat 7px 20px;
	line-height:25px;
}
.msg_notice b{
	color:red;
	margin:auto 3px;
}