<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<link href="{$this->mThemePath}css/admin.css" rel="stylesheet" />
<link href="{$this->mThemePath}css/sub_page.css" rel="stylesheet" />
<script src="{$this->mSiteRoot}api/lamb.js"></script>
<script src="<?php echo $this->mRouter->urlEx('index', 'loadjsconfig')?>"></script>
<script src="{$this->mSiteRoot}api/global.js"></script>
<script type="text/javascript" charset="utf-8"  src="/ueditor/editor_config.js"></script>
<script type="text/javascript" charset="utf-8"  src="/ueditor/editor_ui_all_min.js"></script>
<link rel="stylesheet" type="text/css" href="/ueditor/themes/default/ueditor.css"/>
<script>
imgUrl	=	'{$this->mSiteCfg['img_host']}';
var aType = [];
<?php foreach ($this->mSiteCfg['channels'] as $key => $item) {
	echo "aType[" . $key . "] = {id:" . $key . ",name:'" . $item['name'] . "'};";
}
?>
function showType(index)
{
	var sHtml = '';
	for(var i=1,j=aType.length;i<j;i++)
	{
		sHtml += '<option value="'+aType[i].id+'"'+(index==aType[i].id?' selected="selected"':'')+'>'+aType[i].name+'</option>';
	}
	document.write(sHtml);
}
</script>
<style>
.notice{
	text-align:left;
	text-indent:15px;
	font-weight:bold;
	color:#333;
	font-size:14px;
	border-bottom:#999 1px solid !important ;
}
.input{
	width:400px;
}
#content{
	width:80%;
}
.img{
	height:290px;
	width:250px;
}
</style>
</head>
<body>
<?php if ($this->mDispatcher->setOrGetAction() == 'update') {?>
<div id="rightTop">
	<p>视频编辑(ID：{$id})</p>
	<ul class="subnav">
		<li><span>编辑</span></li>
	</ul>
</div>
<div class="info2" style="padding-top:5px;">
	<form method="post" name="updateForm" target="opFrame" action="<?php echo $this->mRouter->urlEx('video', 'update', array('id' => $id))?>">
		<input type="hidden" name="rurl" value="{$this->mRefer}"/>
		<table cellpadding="5" width="100%;" class="edit_table">
			<tbody>
			<tr>
				<td class="right">&nbsp;</td>
				<td class="left">
					<input type="submit" class="formbtn" value="修改" onclick="return confirm('确定修改吗？')"/>
					&nbsp; &nbsp; 
					<input type="button" class="formbtn" value="返回" onclick="history.go(-1)"/>
				</td>
			</tr>			
			<tr>
				<td class="right">影片名称：</td>
				<td class="left">
				<input type="text" class="input" value="{$aData['name']}" name="data[name]"/>
				</td>
			</tr>
			<tr>
				<td class="right">影片分类：</td>
				<td class="left">
					<select name="data[topType]">
						<script>showType({$aData['topType']})</script>
					</select>
				</td>
			</tr>			
			<tr>
				<td class="right">连载标题：</td><td class="left"><input type="text" name="data[mark]" class="input" value="{$aData['mark']}"/></td>
			</tr>
			<tr>
				<td class="right">影片导演：</td><td class="left">
				<input type="text" class="input" name="data[directors]" value="{$aData['directors']}"/>
				<span style="color:#333">多个用空格或逗号分割</span>
				</td>
			</tr>
			<tr>
				<td class="right">影片演员：</td><td class="left">
				<input type="text" class="input" name="data[actors]" value="{$aData['actors']}"/>
				<span style="color:#333">多个用空格或逗号分割</span>
				</td>
			</tr>
			<tr>
				<td class="right">影片类型：</td><td class="left">
				<input type="text"  class="input" name="data[vedioType]" value="{$aData['vedioType']}"/>
				<span style="color:#333">多个用空格或逗号分割</span>
				</td>
			</tr>			
			<tr>
				<td class="right">影片地区：</td><td class="left"><input type="text" name="data[area]" size="8" value="{$aData['area']}"/></td>
			</tr>
			<tr>
				<td class="right">上映日期：</td><td class="left"><input type="text" name="data[syDate]"  value="{$aData['syDate']}"/>
				</td>
			</tr>						
			<tr>
				<td class="right">人气：</td><td class="left"><input type="text" size="5" name="data[viewNum]" value="{$aData['viewNum']}"/></td>
			</tr>
			<tr>
				<td class="right">更新日期：</td><td class="left"><input type="text"  name="data[updateDate]" id="updateDate" value="<?php echo date('Y-m-d H:i:s', $aData['updateDate'])?>"/> <a href="javascript:void(0)" onclick="$A('updateDate').value='<?php echo date('Y-m-d H:i:s')?>'">获取当前时间</a></td>
			</tr>						
			<tr>
				<td class="right">播放种子：</td>
				<td class="left">
				<textarea name="data[playData]" style="width:80%;height:300px">{$aData['playData']}</textarea>
				</td>
			</tr>
			<tr>
				<td class="right">影片简介：</td>
				<td class="left"><textarea name="content" id="content">{$aData['content']}</textarea><script>var editor = new baidu.editor.ui.Editor({'initialContent' : '', 'minFrameHeight' : 250,'textarea' : 'data[content]'}); editor.render('content');</script></td>
			</tr>	
			<tr>
				<td class="right">备注：</td>
				<td class="left"><input type="text" name="data[gemo]" size="60" value="{$aData['gemo']}"/></td>
			</tr>		
			<tr>
				<td class="right">影片图片：</td>
				<td class="left">
				<div id="img_cont" style="float:left;margin-bottom:10px;width:622px;height:300px;border:1px solid #ccc;overflow:hidden;">
				<div style="float:left;margin-right:10px;">电信 ：<img src="<?php echo Ttkvod_Utils::getImgPath($aData['vedioPic'], $this->mSiteCfg['img_url_group']['ct']);?>" class="img"/></div>
				<div style="float:left">网通：<img id="cn_img" src="<?php echo Ttkvod_Utils::getImgPath($aData['vedioPic'], $this->mSiteCfg['img_url_group']['cn']);?>"  class="img"/></div>
				</div>
				<p style="clear:both"><input id="vedioPic" type="text" value="{$aData['vedioPic']}" class="input" name="data[vedioPic]"/> <a href="javascript:;" onclick="imgsys_onclick()">同步失败图片</a> <a href="javascript:;" onclick="imgfresh_onclick()" id="btn_img_fresh" style="display:none">刷新</a></p>
				<script>
				function imgsys_onclick()
				{
					var val = document.updateForm['data[vedioPic]'].value,
						url = '{$this->mSiteCfg['img_url_group']['up']}/' + Router.get('', 'syslocal', {'path' : val});
					$A('opFrame').src = url;
					$A('btn_img_fresh').style.display = '';
					alert('同步请求已经发送，2秒后点击刷新查看结果');
				}
				function imgfresh_onclick()
				{
					var dom = $A('cn_img');
					dom.src = dom.src.split('?')[0] + '?' + new Date().valueOf();
				}
				</script>
				</td>
			</tr>	
			<tr>
				<td colspan="2" align="center">
					<input type="submit" class="formbtn" value="修改" onclick="return confirm('确定修改吗？')"/>
					&nbsp; &nbsp; 
					<input type="button" class="formbtn" value="返回" onclick="history.go(-1)"/>
				</td>
			</tr>			
			</tbody>
		</table>
	</form>
<?php } else if ($this->mDispatcher->setOrGetAction() == 'customadd') {?>
<div id="rightTop">
	<p>审核视频</p>
	<ul class="subnav">
		<li><span>添加</span></li>
	</ul>
</div>
<div class="info2" style="padding-top:5px;">
	<form method="post" name="addForm" target="opFrame" action="<?php echo $this->mRouter->urlEx('video', 'add')?>">
		<table cellpadding="5" width="100%;" class="edit_table">
			<tbody>
			<tr>
				<td class="right">&nbsp;</td>
				<td class="left">
					<input type="submit" class="formbtn" value="添加">
					&nbsp; &nbsp; 
					<input type="button" class="formbtn" value="返回" onclick="history.go(-1)"/>
				</td>
			</tr>			
			<tr>
				<td class="right">影片名称：</td>
				<td class="left">
				<input type="text" class="input" value="{$aData['name']}" name="data[name]"/>
				</td>
			</tr>
			<tr>
				<td class="right">影片分类：</td>
				<td class="left">
					<select name="data[topType]">
						<script>showType({$aData['topType']})</script>
					</select>
				</td>
			</tr>			
			<tr>
				<td class="right">连载标题：</td><td class="left"><input type="text" name="data[mark]" class="input" value=""/></td>
			</tr>
			<tr>
				<td class="right">影片导演：</td><td class="left">
				<input type="text" class="input" name="data[directors]" value="<?php echo $aData['directors'] ? $aData['directors'] : '不详'?>"/>
				<span style="color:#333">多个用空格或逗号分割</span>
				</td>
			</tr>
			<tr>
				<td class="right">影片演员：</td><td class="left">
				<input type="text" class="input" name="data[actors]" value="<?php echo $aData['actors'] ? $aData['actors'] : '不详'?>"/>
				<span style="color:#333">多个用空格或逗号分割</span>
				</td>
			</tr>
			<tr>
				<td class="right">影片类型：</td><td class="left">
				<input type="text"  class="input" name="data[vedioType]" value=""/>
				<span style="color:#333">多个用空格或逗号分割</span>
				</td>
			</tr>			
			<tr>
				<td class="right">影片地区：</td><td class="left"><input type="text" name="data[area]" size="8" value="{$aData['area']}"/></td>
			</tr>
			<tr>
				<td class="right">上映日期：</td><td class="left"><input type="text" name="data[syDate]"  value=""/>
				</td>
			</tr>						
			<tr>
				<td class="right">人气：</td><td class="left"><input type="text" size="5" name="data[viewNum]" value="0"/></td>
			</tr>
			<tr>
				<td class="right">更新日期：</td><td class="left"><input type="text"  name="data[updateDate]" value="<?php echo date('Y-m-d H:i:s')?>"/></td>
			</tr>					
			<tr>
				<td class="right">播放种子：</td>
				<td class="left">
				<textarea name="data[playData]" style="width:80%;height:300px">{$aData['playData']}</textarea>
				</td>
			</tr>
			<tr>
				<td class="right">影片简介：</td>
				<td class="left"><textarea name="content" id="content">{$aData['content']}</textarea><script>var editor = new baidu.editor.ui.Editor({'initialContent' : '', 'minFrameHeight' : 250,'textarea' : 'data[content]'}); editor.render('content');</script></td>
			</tr>
			<tr>
				<td class="right">备注：</td>
				<td class="left"><input type="text" name="data[gemo]" size="60"/></td>
			</tr>
			<tr>
				<td class="right">图片地址：</td>
				<td class="left">
				<div style="float:left;margin-bottom:10px;width:622px;height:300px;border:1px solid #ccc;overflow:hidden;" id="img_cont" style="display:none">
				</div>
				<p style="clear:both"><input type="text" class="input" name="data[vedioPic]" value="{$aData['vedioPic']}"/></p>				
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" class="formbtn" value="添加">
					&nbsp; &nbsp; 
					<input type="button" class="formbtn" value="返回" onclick="history.go(-1)"/>
				</td>
			</tr>							
			</tbody>
		</table>
	</form>
<?php }else {?>
<div id="rightTop">
	<p>添加视频</p>
	<ul class="subnav">
		<li><span>添加</span></li>
	</ul>
</div>
<div class="info2" style="padding-top:5px;">
	<form method="post" name="addForm" target="opFrame" action="<?php echo $this->mRouter->urlEx('video', 'add')?>">
		<table cellpadding="5" width="100%;" class="edit_table">
			<tbody>
			<tr>
				<td class="right">&nbsp;</td>
				<td class="left">
					<input type="submit" class="formbtn" value="添加">
					&nbsp; &nbsp; 
					<input type="button" class="formbtn" value="返回" onclick="history.go(-1)"/>
				</td>
			</tr>			
			<tr>
				<td class="right">影片名称：</td>
				<td class="left">
				<input type="text" class="input" value="" name="data[name]"/>
				</td>
			</tr>
			<tr>
				<td class="right">影片分类：</td>
				<td class="left">
					<select name="data[topType]">
						<script>showType()</script>
					</select>
				</td>
			</tr>			
			<tr>
				<td class="right">连载标题：</td><td class="left"><input type="text" name="data[mark]" class="input" value=""/></td>
			</tr>
			<tr>
				<td class="right">影片导演：</td><td class="left">
				<input type="text" class="input" name="data[directors]" value="不详"/>
				<span style="color:#333">多个用空格或逗号分割</span>
				</td>
			</tr>
			<tr>
				<td class="right">影片演员：</td><td class="left">
				<input type="text" class="input" name="data[actors]" value="不详"/>
				<span style="color:#333">多个用空格或逗号分割</span>
				</td>
			</tr>
			<tr>
				<td class="right">影片类型：</td><td class="left">
				<input type="text"  class="input" name="data[vedioType]" value=""/>
				<span style="color:#333">多个用空格或逗号分割</span>
				</td>
			</tr>			
			<tr>
				<td class="right">影片地区：</td><td class="left"><input type="text" name="data[area]" size="8" value=""/></td>
			</tr>
			<tr>
				<td class="right">上映日期：</td><td class="left"><input type="text" name="data[syDate]"  value=""/>
				</td>
			</tr>						
			<tr>
				<td class="right">人气：</td><td class="left"><input type="text" size="5" name="data[viewNum]" value="0"/></td>
			</tr>
			<tr>
				<td class="right">更新日期：</td><td class="left"><input type="text"  name="data[updateDate]" value="<?php echo date('Y-m-d H:i:s')?>"/></td>
			</tr>					
			<tr>
				<td class="right">播放种子：</td>
				<td class="left">
				<textarea name="data[playData]" style="width:80%;height:300px"></textarea>
				</td>
			</tr>
			<tr>
				<td class="right">影片简介：</td>
				<td class="left"><textarea name="content" id="content"></textarea><script>var editor = new baidu.editor.ui.Editor({'initialContent' : '', 'minFrameHeight' : 250,'textarea' : 'data[content]'}); editor.render('content');</script></td>
			</tr>
			<tr>
				<td class="right">备注：</td>
				<td class="left"><input type="text" name="data[gemo]" size="60"/></td>
			</tr>
			<tr>
				<td class="right">图片地址：</td>
				<td class="left">
				<div style="float:left;margin-bottom:10px;width:622px;height:300px;border:1px solid #ccc;overflow:hidden;" id="img_cont" style="display:none">
				</div>
				<p style="clear:both"><input type="text" class="input" name="data[vedioPic]" id="vedioPic"/></p>				
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" class="formbtn" value="添加">
					&nbsp; &nbsp; 
					<input type="button" class="formbtn" value="返回" onclick="history.go(-1)"/>
				</td>
			</tr>							
			</tbody>
		</table>
	</form>
<?php }?>
	<iframe src="?s=video/upload" scrolling="no" frameborder="0" marginwidth="0" marginheight="0" width="100%" height="250px;"></iframe>
</div>
<iframe name="opFrame" id="opFrame" height="0" width="0" frameborder="0"></iframe>
</body>
</html>