.pic s,.page_inner .p-info,.h-search .s-h-bar a,.m-info .m-funcs a,.m-fpoint .m_p_starbox a:hover,.m-fpoint .m_p_starbox,.m-b-wrap a,.mdesc .md-switch {
	background:url(../images/icons.png) no-repeat 0 0
}
.h-inner .h-fun a,.h-inner .h-user a.h-u-user-status,.h-search .h-s-wrap .h-s-btn,.h-inner .h-user .h-user-m {
	background:url(../images/newicons.png) no-repeat 0 0
}
.pi-inner .p-links a i,.down-menus a.d-m-btnall {
	background:url(../images/pl_icon.gif) no-repeat 0 0
}
.pi-inner .p-links a span b {
	background:url(../images/play.jpg) no-repeat 0 0
}
#msg_box .msgbox_layer {
	background:url(../images/msg.gif) no-repeat 0 0
}
.fixed_btn_scroll,.fixed_btn_scroll s {
	background:url(../images/scroll_bg2.gif) no-repeat 15px 17px #1f1f1f
}
.d-inner .d-title .d-close,.u_o_l_foot a.u-o-clear,.u_o_l_c_list dd a s,.v-i-img .v-i-l-del {
	background:url(../images/icon.gif) no-repeat 0 0
}
.flatskin {
	background:#232323;
	color:#efefef
}
.flatskin a {
	color:#efefef
}
.frame,.u_o_l_cont .u_o_l_c_list {
	scrollbar-face-color:#3a3a3a;
	scrollbar-highlight-color:#3a3a3a;
	scrollbar-shadow-color:#3a3a3a;
	scrollbar-3dlight-color:#3a3a3a;
	scrollbar-arrow-color:#3a3a3a;
	scrollbar-track-color:#2a2a2a;
	scrollbar-darkshadow-color:#2a2a2a
}
::-webkit-scrollbar-track-piece {
	background-color:#2f2f2f
}
::-webkit-scrollbar {
	width:12px
}
::-webkit-scrollbar-thumb {
	height:50px;
	background-color:#3a3a3a;
	-webkit-border-radius:6px
}
::-webkit-scrollbar-thumb:hover {
	height:50px;
	background-color:#404040
}
.flatskin .h-inner .h-nav li a,.v-w-menu .v-w-head {
	color:#a6a5a5
}
.flatskin .head,.sec,.h-s-head .h-s-tabs,.c-s-right .c-s-head .c-r-tabs,.c-s-right .c-s-rankbody,.list-head,.s-m-item,.position,.page_inner .p-func .p-f-float a {
	border-bottom-color:#363636
}
.flatskin .h-inner .h-nav li a.current,.flatskin .h-inner .h-nav li a.current:hover {
	background-color:#09f;
	color:#efefef
}
.flatskin .h-inner .h-nav li a:hover,.flatskin .h-inner .h-user a.h-u-play-history:hover,.h-inner .h-user a.h-u-user-status:hover,.comment .com-frm .c-f-bar .c-f-submit,.h-user .h-u-user-menu,.h-inner .h-user a.selected {
	background-color:#404040
}
.flatskin .h-search .h-s-wrap .h-s-input{
	background-color:#444444;
}
.h-search .sear-his {
	background-color:#d0d0d0;
}
.sec,.list-wrap .list-sec,.list-wrap .select-sec,.playinfos .pi-inner .p-links,.mdesc,.relamovie,.comment,.commfrm,.v-wrap,.v-w-menu li a.cur,.down-menus {
	/*background-color:#2a2a2a*/
}
.pic:hover,.dialog .f-inp-txt_focus,.v-i-list .v-i-img:hover {
	border-color:#09f
}
.h-s-head .h-s-tabs a.on,.h-s-head .h-s-tabs a:hover,.c-s-right .c-s-head .c-r-tabs a.on,.c-s-right .c-s-head .c-r-tabs a:hover,.list-head .l-h-tabs a.on,.relamovie .rm-tabs a {
	border-bottom-color:#09f
}
.sec,.pi-inner .p-links a,.page_inner .p-func .p-f-float {
	border-color:#363636
}
.cate-sec .c-s-tabs a.on,.cate-sec .c-s-tabs a:hover,.list-head .l-h-tabs a:hover,.s-s-inner .spilter,.pi-inner .p-links a,.page_inner .p_next:hover,.p_inner .p_links a,.page_inner .p_next:hover,.u_o_l_c_list dd a:hover,.down-menus a.d-m-btncan {
	background-color:#363636
}
.c-s-head .c-s-h-title {
	border-top-color:#09f
}
.c-s-right .c-s-r-list li.rand_1 em,.h-search .h-s-wrap .h-s-btn,.list-head .top_next_btn:hover,.p_inner .p_links a.on,.p_inner .p_links a.on:hover,.pi-inner .p-links a:hover,.pi-inner .p-links a:hover,.comment .com-frm .c-f-bar .c-f-submit:hover,.h-user .h-u-user-menu a:hover,.page_inner .p-func .p-f-float a.curr,.page_inner .p-func .p-f-float a.curr:hover,.f-inp-btn,.v-i-page .v-i-p-cur,.v-i-page a:hover,.t-item-list span.top_r_1 {
	background-color:#09f
}
.c-s-right .c-s-r-list li.rand_2 em {
	background-color:#51b5f8
}
.c-s-right .c-s-r-list li.rand_3 em {
	background-color:#84cbfb
}
.t-item-list span.top_r_2 {
	background-color:#21a3fa
}
.t-item-list span.top_r_3 {
	background-color:#30a0ea
}
.t-item-list span.top_r_4 {
	background-color:#50b6fa
}
.t-item-list span.top_r_5 {
	background-color:#58afe9
}
.c-s-right .c-s-type dt,.comment .com-item h4 em,.search-list dd {
	color:#666
}
.c-s-right .c-s-r-list li strong,.list-main li .mark strong,.s-s-sel dt,.m-point .m-p-info,.m-point .m-p-num,.list-main li .actor,.s-s-item .s-s-title,.comment .com-frm .c-f-bar .disabled,.u_o_l_c_list dd a span.u-p-l-date,.v-user li,.v-edit ul {
	color:#999
}
.s-s-item .s-s-title,.v-w-menu li a.cur {
	border-left-color:#09f
}
.page_inner .p_next,.page_inner .p-func,.page_inner a.p_next_none:hover,.list-head .top_next_btn,.p_inner .p_links a:hover {
	background-color:#404040
}
.page_inner .p-info span,.f-inp-btn,.v-i-page .v-i-p-cur,.v-i-page a:hover,.v-user li .v-default{
	color:#efefef
}
.page_inner .p-info,.search-main .s-t-tag li span,.search-main .s-desc,.u_o_l_foot s,.v-i-list p {
	color:#888
}
.page_inner a.p_next_none,.page_inner a.p_next_none {
	color:#666
}
.p_inner .p_input,.p_inner .p_info {
	background-color:#3a3a3a
}
.search-main .s-t-title .s-t-type,.u_o_l_c_localnone .his-none .h-n-i,.u_o_l_foot,.m-info .m-comment .m-c-btn {
	color:#aeaeae
}
.search-main .s-t-title h4 span,.p_inner .p_info,.position,.m-info span,.gray,.mdesc,.v-i-page span {
	color:#777
}
.p_inner .p_info b {
	color:#aaa
}
.search-main .s-txt .point,.s-s-sel dd a.current,.h-search .s-h-bar a.s-h-btn-forbin:hover,.m-info .m-funcs a:hover,.comment .cit_page a.curr,.search-list dd.s-d-name,.fix-dialog .log_reg_func li.f-title,.v-w-menu li a:hover,.v-w-menu li a.cur {
	color:#09f
}
.h-search .sear-his {
	border-color:#b0b0b0
}
.h-search .sear-his .s-h-list a,.search-list li .s-m-name {
	border-bottom-color:#bbb
}
.h-search .sear-his .s-h-list a:hover {
	background-color:#c9c9c9
}
.h-search .s-h-bar {
	background-color:#bfbfbf
}
.h-search .s-h-bar a,.h-search .sear-his .s-h-list a,.dialog .checkbox {
	color:#333
}
.m-info .m-gemo,.m-info .m-gemo a,.m-info .m-comment b,.dialog .d-info,.search-list dd .pi,.v-edit .s4,.t-i-topone .t-i-l-info .t-i-l-point strong,.m-point .m-p-info strong,.m-point .m-p-info strong em,.m-btns .m-gemo,.m-btns .m-gemo a {
	color:#f60
}
.m-info .m-comment {
	color:#afafaf
}
.m-info .m-title,.mdesc .md-title h4 {
	color:#b4b4b4
}
.m-inner .m-i-pic img {
	border-color:#3a3a3a
}
.pi-inner .p-links a.sel-normal {
	border-color:#555
}
.pi-inner .p-links a.sel-checked {
	border-color:#56a32f
}
.relamovie .rm-tabs a span {
	border-right-color:#363636
}
.pi-inner .p-links a:hover,.s-l-info .s-l-btn:hover,.v-i-img .v-i-l-status {
	color:#fff
}
.comment {
	color:#757575
}
.comment .com-title a.on,.comment .com-item,.comment .com-none,.comment .com-frm .c-f-bar .disabled,.comment .com-frm .c-f-bar .disabled:hover {
	background-color:#303030
}
.comment .com-wrap .bg {
	background-color:#2d2d2d
}
.comment .com-page .page_inner .p_next,.comment .com-page .page_inner .p-func,.page_inner .p-func .p-f-float {
	background-color:#323232
}
.comment .com-title a:hover,.comment .com-title a.on:hover {
	background-color:#2e2e2e
}
.comment .com-page .page_inner .p_next:hover {
	background-color:#353535
}
.comment .citation {
	background-color:#3f3f3f;
	border-color:#484848
}
.comment .com-frm textarea {
	background-color:#555;
	color:#999
}
.comment .com-item .com-frm {
	background-color:#343434
}
.pi-inner .p-tabs .p-t-menus a.on {
	background-color:#2a2a2a;
	color:#09f
}
.search-list a {
	color:#444
}
.search-list li.cur {
	background-color:#ddd
}
.search-list dl a:hover,.search-list li .s-m-name span {
	color:#09f
}
.s-l-info .s-l-image:hover {
	border:1px #09f solid
}
.s-l-info .s-l-image {
	border:1px #ccc solid
}
.comment .cit_page a {
	color:#b4b4b4
}
.page_inner .p-func .p-f-float a:hover,.user_operate_list {
	background-color:#404040
}
.comment .com-item .c-i-bar a,#msg_box .msgbox_layer_c,#msg_box .msgbox_layer {
	color:#606060
}
#msg_box .msgbox_layer_c,#msg_box .msgbox_layer {
	background-color:#e5e5e5
}
.dialog textarea,.f-inp-txt {
	background-color:#e0e0e0
}
.dialog textarea,.f-inp-txt {
	border-color:#aaa
}
.f-inp-txt label, .f-wrap input, .f-w-t label {
	color:#b0b0b0
}
.dialog .reg,#d-m-btndown {
	background-color:#004000
}
.dialog .d-inner {
	background-color:#e0e0e0
}
.d-inner .d-title,.fix-dialog .f-inp-btn , .f-wrap input{
	background-color:#484848
}
.d-inner .d-title .d-close {
	border-left-color:#2d2d2d
}
.h-inner .h-user a.h-u-user-status:hover {
	_background-color:#232323
}
.u_o_l_foot {
	border-top-color:#505050
}
.u_o_l_foot a:hover,.v-i-list p a {
	color:#82b3d9
}
.fix-dialog .log_reg_func {
	color:#555
}
.v-w-menu {
	border-right-color:#2f2f2f
}
.v-w-menu .v-w-head {
	border-bottom-color:#2f2f2f
}
.v-w-menu li {
	border-color:#2f2f2f
}
.v-w-menu li a,.v-i-head a {
	color:#ccc
}
.v-w-menu li a:hover,.v-w-menu li a.cur {
	color:#09f
}
.v-w-info .v-i-head {
	border-bottom-color:#4f4f4f
}
.v-i-head a:hover,.v-i-head a.cur {
	background-color:#4f4f4f;
	color:#efefef
}
.v-i-list .v-i-img {
	border-color:#2a2a2a
}
.v-i-page a {
	border-color:#3a3a3a;
	color:#666
}
.line .subcur {
	background-color:#09f;
	color:#efefef
}
.line .s1,.line2 textarea,.line .sub{
	background-color:#444;
	color:#ccc
}
.v-wrap {
	border-color:#3f3f3f
}
.p_inner .p_input input {
	background-color:#aeaeae
}
#ttk_item_bottom,#ttk_index_bottom {
	background-color:#2a2a2a;
	border:1px solid #363636
}
.m-info .m-funcs a {
	color:#a1a1a1
}
.list-main li .actor a {
	color:#757575
}
.down-menus a {
	color:#a4b0b0
}
.pi-inner .p-tabs {
	background-color:#232323
}
.pi-inner .p-links a span {
	background-color:#00bffe
}
