@import url("public.css");

.body {
	padding-top: 0
}

.position {
	height: 44px;
	line-height: 44px;
	margin-bottom: 10px;
	position: relative
}

.position .pos-info {
	float: left;
	font-size: 14px
}

.position .pos-info span,.position .pos-info a {
	margin-right: 4px
}

#ttk_item_mini {
	position: absolute;
	height: 25px;
	width: 468px;
	top: 6px;
	right: 0;
	overflow: hidden
}

.minfos {
	position: relative;
	font-size: 12px;
	margin-bottom: 10px
}

.minfos .m-inner {
	margin-right: 310px
}

.minfos .info-box-ad {
	position: absolute;
	width: 300px;
	height: 250px;
	right: 0;
	top: 0
}

.m-inner .m-infos {
	margin-bottom: 10px;
	position: relative
}

.m-inner .m-i-pic {
	float: left;
	margin-right: 10px
}

.m-inner .m-i-pic img {
	width: 150px;
	height: 210px;
	border-width: 4px;
	border-style: solid
}

.m-infos .m-info {
	float: left;
	width: 380px
}

.m-info .m-title,.m-info .m-tag {
	width: 100%
}

.m-info .m-tag {
	height: 46px;
	line-height: 46px
}

.m-info .m-title,.m-info .m-tags li,.m-info .m-tag {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.m-info .m-tag a,.m-info .m-tags li a {
	margin-right: 2px
}

.m-info .m-title {
	font-size: 16px;
	font-weight: bold
}

.m-info .m-title span {
	font-size: 12px;
	margin-left: 5px;
	font-weight: normal
}

.m-infos .m-point,.m-infos .m-qrcode {
	position: absolute;
	top: -7px;
	right: 0;
	width: 102px;
	text-align: center
}

.m-infos .m-qrcode {
    top: 90px;
	width: 126px;
}
.m-infos .m-qrcode table{
	border: 3px solid #fff !important;
	height : 126px;
	width : 126px;
	
}
.m-infos .m-qrcode img{
	border: 3px solid #fff;
}
.m-infos .m-q-qrcode{
	margin-bottom : 6px;
}
.m-infos .m-q-text{
	color: #D6D00A;
	margin-left: 2px;
}

.m-info .m-tags li {
	float: left;
	width: 135px;
	margin-right: 10px;
	height: 29px
}

.m-info .m-tags li.l {
	width: 225px
}

.m-info .m-comment {
	height: 36px
}

.m-info .m-fpoint {
	height: 30px
}

.m-info .m-fpoint span {
	float: left;
	margin-right: 4px
}

.m-fpoint .m_p_starbox {
	width: 90px;
	height: 14px;
	position: relative;
	background-position: 0 -390px;
	float: left;
	top: 2px
}

.m-fpoint .m_p_starbox a {
	position: absolute;
	display: block;
	width: 14px;
	height: 14px;
	text-indent: -999px;
	line-height: -999;
	overflow: hidden;
	background-position: right -390px;
	font-size: 0
}

.m-fpoint .m_p_starbox .s10 {
	z-index: 14
}

.m-fpoint .m_p_starbox a.s10:hover {
	background-position: 0 -290px
}

.m-fpoint .m_p_starbox .s20 {
	z-index: 13;
	width: 32px
}

.m-fpoint .m_p_starbox .s20:hover {
	background-position: 0 -310px
}

.m-fpoint .m_p_starbox .s30 {
	z-index: 12;
	width: 48px
}

.m-fpoint .m_p_starbox .s30:hover {
	background-position: 0 -330px
}

.m-fpoint .m_p_starbox .s40 {
	z-index: 11;
	width: 66px
}

.m-fpoint .m_p_starbox .s40:hover {
	background-position: 0 -350px
}

.m-fpoint .m_p_starbox .s50 {
	z-index: 10;
	width: 90px
}

.m-fpoint .m_p_starbox .s50:hover {
	background-position: 0 -370px
}

.m-info .m-comment b {
	margin: 0 4px;
	font-size: 18px;
	font-family: Georgia,"Times New Roman",Times,serif
}

.m-info .m-comment .m-c-btn {
	margin-right: 4px;
	display: inline-block
}

.m-info .m-funcs a {
	display: block;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	float: left;
	width: 40px;
	padding-left: 20px;
	margin-right: 9px
}

.m-info .m-funcs a:hover {
	text-decoration: none
}

.m-info .m-funcs a.m-f-fav {
	background-position: 0 -173px;
	width: 24px;
	padding-left: 20px
}

.m-info .m-funcs a.m-f-fav:hover {
	background-position: 0 -211px
}

.m-info .m-funcs a.m-f-notice {
	background-position: -95px -175px;
	width: 62px;
	padding-left: 26px
}

.m-info .m-funcs a.m-f-notice:hover {
	background-position: -95px -213px
}

.m-info .m-funcs a.m-f-disk {
	background-position: -196px -172px;
	width: 60px;
	_background-position: -196px -170px
}

.m-info .m-funcs a.m-f-disk:hover {
	background-position: -196px -210px;
	_background-position: -196px -208px
}

.m-info .m-funcs a.m-f-refresh {
	background-position: -297px -171px;
	width: 50px;
	_background-position: -297px -170px
}

.m-info .m-funcs a.m-f-refresh:hover {
	background-position: -297px -209px;
	_background-position: -297px -208px
}

.m-info .m-funcs a.m-f-fix {
	background-position: -393px -172px;
	width: 34px;
	padding-left: 24px;
	margin-right: 0;
	_background-position: -393px -170px
}

.m-info .m-funcs a.m-f-fix:hover {
	background-position: -393px -210px;
	_background-position: -393px -208px
}

.m-btns .m-gemo {
	float: left;
	margin-left: 6px;
	margin-top: 26px;
	width: 320px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px
}

.m-btns .m-gemo a {
	display: inline;
	background: 0;
	font-size: 12px;
	text-indent: 0;
	float: none;
	line-height: normal;
	width: auto;
	height: auto
}

.m-point .m-p-info strong,.m-point .m-p-info strong em {
	font-family: "Times New Roman",Times,serif;
	font-size: 36px
}

.m-point .m-p-info strong em {
	font-size: 26px;
	font-weight: normal;
	font-style: normal
}

.m-b-wrap a {
	display: block;
	width: 150px;
	height: 48px;
	font-size: 20px;
	float: left;
	line-height: 48px;
	text-indent: -999px;
	overflow: hidden
}

.m-b-wrap a.m-b-play {
	background-position: 0 -440px;
	margin-right: 18px
}

.m-b-wrap a.m-b-play:hover {
	background-position: 0 -508px
}

.m-b-wrap a.m-b-down {
	background-position: -170px -440px
}

.m-b-wrap a.m-b-down:hover {
	background-position: -170px -508px
}

.down-menus {
	overflow: hidden;
	padding: 0 16px 10px;
	display: none
}

.down-menus a {
	display: block;
	float: left;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	margin-right: 12px;
	font-weight: bold;
	padding: 5px 10px
}

.down-menus a:hover {
	text-decoration: none
}

.down-menus a.d-m-btnall {
	float: left;
	padding: 0 18px 0 0;
	background-position: right 3px;
	margin-top: 8px;
	_position: relative;
	_top: 6px
}

.down-menus a.selected {
	background-position: right -18px
}

#d-m-btndown {
	float: right
}

.down-menus a.d-m-btncan {
	margin-right: 0;
	float: right
}

.playinfos {
	margin-bottom: 10px
}

.playinfos .pi-inner {
	width: 100%;
	overflow: hidden
}

.pi-inner .p-tabs {
	font-size: 14px
}

.pi-inner .p-tabs .p-t-func,.pi-inner .p-tabs .p-t-menus {
	float: left
}

.pi-inner .p-tabs .p-t-menus a,.pi-inner .p-tabs .p-t-func a {
	display: block;
	padding: 5px 10px 5px 0;
	float: left
}

.pi-inner .p-tabs .p-t-menus a:hover,.pi-inner .p-tabs .p-t-func a:hover {
	text-decoration: none
}

.pi-inner .p-links {
	padding: 16px 0 16px 0;
	_padding-bottom: 0
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.pi-inner .p-links {
		padding-bottom: 0
	}
}

.pi-inner .p-links a {
	display: block;
	float: left;
	width: 139px;
	height: 44px;
	position: relative;
	line-height: 44px;
	text-align: center;
	margin-right: 16px;
	margin-bottom: 16px;
	font-size: 14px;
	border-width: 1px;
	border-style: solid
}

.pi-inner .p-links a i {
	display: none;
	width: 15px;
	height: 15px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	_right: -1px
}

.pi-inner .p-links a.sel-normal i {
	display: block;
	background-position: 0 3px
}

.pi-inner .p-links a.sel-checked i {
	display: block;
	background-position: 0 -20px
}

.pi-inner .p-links a:hover {
	text-decoration: none
}

.pi-inner .p-links a:hover span {
	_visibility: visible
}

.pi-inner .p-links a:hover span.ie6 {
	_visibility: hidden
}

.pi-inner .p-links a span {
	display: block;
	height: 100%;
	width: 18px;
	position: absolute;
	top: 0;
	right: -18px;
	overflow: hidden;
	visibility: hidden
}

.pi-inner .p-links a span b {
	display: block;
	width: 100%;
	height: 50%;
	line-height: 0;
	overflow: hidden;
	cursor: pointer
}

.pi-inner .p-links a span b.add {
	background-position: 4px 5px
}

.pi-inner .p-links a span b.add_hover {
	background-position: -16px 5px
}

.pi-inner .p-links a span b.s-play {
	background-position: 4px -15px
}

.pi-inner .p-links a span b.s-play_hover {
	background-position: -15px -15px
}

.mdesc {
	padding: 16px 16px 16px 0;
	margin-bottom: 10px
}

.mdesc .md-switch {
	margin-left: 5px;
	background-position: right -28px;
	padding-right: 14px;
	_background-position: right -27px
}

.mdesc .md-switch:hover {
	text-decoration: none
}

.mdesc a.md-switch-close {
	background-position: right -47px;
	_background-position: right -46px
}

.mdesc .md-title {
	margin-bottom: 10px
}

.mdesc .md-title h4 {
	font-size: 16px
}

.mdesc .md-info {
	line-height: 20px
}

.relamovie {
	margin-bottom: 10px
}

.relamovie .rm-tabs {
	margin: 0 22px 12px 0;
}

.relamovie .rm-tabs a {
	display: block;
	float: left;
	height: 40px;
	width: auto;
	border-bottom-style: solid;
	border-bottom-width: 0
}

.relamovie .rm-tabs a span {
	display: inline-block;
	height: 14px;
	line-height: 14px;
	margin-top: 13px;
	padding: 0 12px;
	border-right-width: 2px;
	border-right-style: solid;
	cursor: pointer
}

.relamovie .rm-tabs a.last span {
	border-right: 0
}

.relamovie .rm-tabs a.on,.relamovie .rm-tabs a:hover {
	border-bottom-width: 3px;
	position: relative;
	top: 2px;
	text-decoration: none
}

.relamovie .rm-tabs a.on span,.relamovie .rm-tabs a:hover span {
	margin-top: 11px
}

.relamovie .rm-b-list {
	width: 100%;
	overflow: hidden;
	padding-bottom: 10px;
	height: 183px
}

.relamovie .rm-b-list li {
	float: left;
	margin-right: 25px;
	_margin-right: 0;
	_padding-right: 25px
}

.relamovie .rm-b-list li .pic,.relamovie .rm-b-list li .pic_txt {
	width: 110px
}

.relamovie .rm-b-list li .pic {
	height: 158px
}

.commfrm,.comment {
	margin-bottom: 10px
}


.comment .com-title a {
	display: block;
	font-size: 14px;
	padding: 8px 20px;
	font-weight: bold;
	float: left
}

.comment .com-title a:hover,.comment .com-title a.on:hover {
	text-decoration: none
}

.comment .com-page .page_inner {
	margin: 0
}

.comment .com-page .page_inner .p_next {
	width: 862px
}

.comment .com-item {
	padding: 10px 20px
}

.comment .com-item h4 {
	zoom: 1;
	padding-bottom: 3px;
	font-size: 12px
}

.comment .com-item h4:after {
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
	content: "."
}

.comment .com-item h4 span {
	float: left
}

.comment .com-item h4 .c-i-date {
	float: right;
	font-weight: normal
}

.comment .com-item h4 em {
	float: right;
	font-style: normal;
	font-weight: normal
}

.comment .com-item .c-i-cont {
	margin: 0 5px 5px;
	line-height: 20px;
	word-wrap: break-word
}

.comment .com-item .dele {
	text-decoration: line-through
}

.comment .com-item .c-i-bar {
	height: 16px
}

.comment .com-item .c-i-bar a {
	display: block;
	float: right;
	margin-left: 10px
}

.comment .com-item .c-i-bar a b {
	font-weight: normal
}

.comment .citation {
	padding: 3px 3px 10px;
	margin-bottom: 3px;
	border-width: 1px;
	border-style: solid
}

.comment .cit_no_page {
	padding: 0 0 5px
}

.comment .cit_page {
	padding: 6px 0 0 6px
}

.comment .cit_page a {
	margin-right: 8px
}

.comment .com-frm {
	padding: 20px 0 10px
}

.comment .com-frm textarea {
	width: 100%;
	height: 80px
}

.comment .com-frm .c-f-bar {
	margin-top: 5px;
	line-height: 24px;
	height: 24px
}

.comment .com-frm .c-f-bar .c-f-b-status {
	float: left
}

.comment .com-frm .c-f-bar .c-f-submit {
	float: right;
	display: block;
	width: 80px;
	height: 100%;
	text-align: center
}

.comment .com-frm .c-f-bar .disabled {
	cursor: default
}

.comment .com-frm .c-f-bar .c-f-submit:hover {
	text-decoration: none
}

.comment .com-item .com-frm {
	margin-top: 10px;
	display: none;
	padding-left:20px;
	padding-right:20px;
}

.comment .com-item .com-frm textarea {
	width: 880px
}

.comment .com-loadding,.comment .com-none {
	padding: 20px 0;
	text-align: center
}

.m-info .m-funcs a.m-f-disk {
	display: none
}

.m-info .m-comment .m-c-btn:hover {
	text-decoration: none
}

.utime {
	display: inline-block;
	width: 145px
}