html {
	height:100%;
	overflow:hidden
}
* {
	margin:0;
	padding:0
}
body,input {
	font-family:"Microsoft YaHei",Tahoma;
	font-size:12px
}
ul,ul li {
	list-style:none
}
a {
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
.w1180{
	width:1180px;
	margin: 0 auto;
	position:relative;
}
.wrap_nav{
	width:150px;
	height:670px;
	background:#2a2a2a;
	position:absolute;
	left:0;
	top:0;
}
.wrap_nav ul li{
	margin-top:6px;
	font-size:16px;
	height:45px;
	line-height:45px;
	text-align:left;
	text-indent:50px
}

.wrap_nav ul li a{
	width:150px;
	display:block;
}
.wrap_nav ul li a.current{
	background:#09f;
}
.wrap_nav ul li a.current:hover{
	background:#09f;
}
.wrap_nav ul li a:hover{
	background:#404040;
	text-decoration:none;
}
.wrap{
	float:right;
	width:1030px;
	/*width:100%;
	_width:1175px;*/
}
.w960 {
	width:960px;
}
.mb10 {
	margin-bottom:10px
}
*:focus {
	outline:0
}
textarea {
	resize:none
}
img {
	border:0
}
.clear {
	zoom:1
}
.clear:after {
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
	content:"."
}
.none {
	display:none
}
textarea {
	overflow:auto;
	border:0;
	font-family:"Microsoft YaHei",Tahoma
}
.head{
	border-bottom-style:solid;
	border-bottom-width:1px;
}
.head a:hover {
	text-decoration:none
}
.head .h-inner {
	height:50px;
	margin-left:auto;
	width:1000px;
}
.h-inner .h-fun {
	margin-right:5px
}
.h-inner .h-fun,.h-inner .h-nav,.h-inner .h-user li {
	margin-top:5px
}
.h-inner .h-fun,.h-inner .h-nav,.h-inner .h-fun li,.h-inner .h-nav li {
	float:left
}
.h-inner .h-fun a,.h-inner .h-nav li a,.h-inner .h-user .h-user-m {
	display:block;
	height:38px;
	width:30px;
	margin-top:1px;
}
.h-inner .h-user .h-user-m{
	padding-left:5px;
	font-size:14px;
	background-position:7px -254px;
}
.h-inner .h-user .h-user-m-l{
	padding-left: 35px;
	line-height:40px;
	height:40px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.h-inner .h-fun a {
	text-indent:-999px;
	overflow:hidden;
	background-position:0 11px
}
.h-inner .h-fun a:hover {
	background-position:-58px 11px
}
.h-inner .h-fun a.h-f-refresh {
	background-position:0px -55px
}
.h-inner .h-fun a.h-f-refresh:hover {
	background-position:-58px -55px
}
.h-inner .h-nav li a {
	line-height:32px;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	width:70px
}
.h-inner .h-user {
	float:right
}
.h-inner .h-user li {
	float:left;
	position:relative;
	z-index:1
}
.h-inner .h-user a.h-u-user-status {
	overflow:hidden;
	width:50px;
	/*width:35px;*/
	background-position:13px -221px
}
.h-inner .h-user a.h-u-user-login {
	background-position:-147px -189px;
}
.h-inner .h-user a.h-u-user-status:hover{
	background-position:13px -188px;
}
.h-inner .h-user a.selected {
	/*background-position:-110px -188px;*/
}
.h-inner .h-user a.h-u-play-history {
	width:100px;
	line-height:38px;
	margin-left:15px;
	text-align:center
}
.h-user .h-u-user-menu {
	position:absolute;
	width:85px;
	right:0;
	top:41px;
	z-index:1;
	display:none
}
.h-user .h-u-user-menu a {
	display:block;
	width:100%;
	text-align:center;
	height:30px;
	line-height:30px
}
.h-inner .h-search {
	float:left;
	width:455px;
	height:100%;
	margin-left:180px;
	_margin-left:135px;
	position:relative;
	z-index:1
}
.h-inner .h-search .h-s-wrap {
	position:relative;
}
.h-search .h-s-wrap .h-s-input {
	display:block;
	border:0;
	height:28px;
	width:380px;
	margin-top:6px;
	line-height:30px;
	font-size:16px;
	text-indent:4px;
	position:relative;
	padding:4px 0;
	color:#ffffff;
}
.h-search .h-s-wrap .h-s-btn {
	position:absolute;
	height:28px;
	top:1px;
	right:1px;
	background-position:10px -120px;
	display:block;
	width:74px;
	padding:4px 0;
	cursor:pointer;
	_top:7px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.h-search .h-s-wrap .h-s-btn {
	top:0
}
}.h-search .sear-his {
	position:absolute;
	width:380px;
	left:0;
	top:45px;
	z-index:1;
	border-style:solid;
	border-width:1px;
	display:none;
	overflow:hidden
}
.h-search .sear-his .s-h-list a {
	display:block;
	height:36px;
	line-height:36px;
	padding:0 10px;
	font-size:14px;
	border-bottom-style:dotted;
	border-bottom-width:1px
}
.h-search .s-h-bar {
	font-size:14px
}
.h-search .s-h-bar a {
	display:block;
	height:40px;
	line-height:40px;
	float:right
}
.h-search .s-h-bar a.s-h-btn-dele {
	width:36px;
	background-position:-240px 6px;
	text-indent:-999px;
	overflow:hidden
}
.h-search .s-h-bar a.s-h-btn-dele:hover {
	background-position:-240px -37px
}
.h-search .s-h-bar a.s-h-btn-forbin {
	padding-left:24px;
	background-position:0 -79px;
	margin-right:10px
}
.h-search .s-h-bar a.s-h-btn-forbin:hover {
	background-position:0 -118px
}
.frame {
	height:698px;
	overflow-x:hidden;
	overflow-y:scroll;
	position:relative
}
.body {
	margin:auto;
	padding-top:5px;
	overflow:hidden;
}
.pic {
	display:block;
	width:122px;
	height:170px;
	overflow:hidden;
	position:relative;
	border:1px solid transparent;
	_border-color:#2a2a2a;
	_filter:chroma(color=#2a2a2a)
}
.pic:hover {
	text-decoration:none;
	border-width:1px;
	border-style:solid
}
.pic img {
	width:100%;
	height:100%
}
.pic s {
	position:absolute;
	width:40px;
	height:40px;
	background-position:-200px 0;
	left:0;
	top:0;
	display:block;
	cursor:pointer
}
.pic .mark {
	position:absolute;
	height:16px;
	line-height:19px;
	text-align:right;
	background-color:#000;
	left:0;
	display:block;
	width:100%;
	bottom:0;
	filter:alpha(opacity=70);
	opacity:.7;
	cursor:pointer;
	_bottom:-1px
}
.pic_txt {
	margin-top:4px;
	width:122px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:center
}
.page_inner {
	margin:0 40px;
	position:relative;
	height:40px;
	line-height:40px;
	bottom:0
}
.page_inner .p_next {
	height:100%;
	display:block;
	float:left;
	width:550px;
	font-size:14px;
	text-align:center;
	font-weight:bold
}
.page_inner a.p_next_none {
	cursor:default
}
.page_inner .p_next:hover {
	text-decoration:none
}
.page_inner .p-func {
	width:98px;
	height:40px;
	float:left;
	position:relative
}
.page_inner .p-func .p-f-float {
	width:94px;
	position:absolute;
	left:0;
	bottom:0;
	border-style:solid;
	border-width:2px;
	display:none
}
.page_inner .p-func .p-f-float a {
	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin-bottom:-1px;
	border-bottom-style:solid;
	border-bottom-width:1px
}
.page_inner .p-func .p-f-float a:hover {
	text-decoration:none
}
.page_inner .p-func .p-f-float a.more:hover {
	background:0
}
.page_inner .p-info {
	width:76px;
	height:100%;
	text-align:right;
	font-size:14px;
	padding-right:22px;
	background-position:101% 13px;
	_background-position:102% 13px;
	cursor:pointer
}
.page_inner .p-info em {
	font-style:normal;
	margin:0 1px
}
.search-list {
	overflow:hidden
}
.search-list li .s-m-name {
	height:36px;
	display:block;
	line-height:36px;
	padding-left:10px;
	border-bottom-width:1px;
	border-bottom-style:dotted
}
.search-list li .s-n-cur {
	display:none
}
.search-list dl {
	float:left;
	margin-top:4px;
	width:160px;
	cursor:pointer
}
.search-list dd a {
	margin-right:5px
}
.search-list dd {
	height:22px;
	line-height:22px;
	overflow:hidden;
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.search-list dd.s-d-name {
	font-weight:bold
}
.search-list dd .pi {
	font-family:Georgia,"Times New Roman",Times,serif
}
.search-list li.cur {
	margin-bottom:-5px
}
.search-list li.cur .s-m-name {
	display:none
}
.search-list li.cur .s-l-info {
	display:block
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.search-list li.cur {
	margin-bottom:0
}
}.s-l-info {
	display:none;
	height:140px;
	overflow:hidden
}
.s-l-info .s-l-image {
	width:100px;
	height:130px;
	margin:0 10px;
	_margin-left:5px;
	margin-top:4px;
	float:left;
	display:block
}
.s-l-info img {
	width:100px;
	height:130px
}
.user_operate_list {
	position:absolute;
	right:0;
	top:39px;
	width:300px
}
.u_o_l_c_localnone .load {
	text-align:center;
	height:100px;
	line-height:100px
}
.u_o_l_c_localnone .his-none {
	padding:30px
}
.u_o_l_c_localnone .his-none .h-n-in {
	text-align:center;
	margin-bottom:30px;
	font-weight:bold;
	font-size:14px
}
.u_o_l_c_localnone .his-none .h-n-i {
	margin-bottom:10px
}
.u_o_l_c_localnone .his-none .h-n-i a {
	margin:0 2px
}
.u_o_l_foot {
	text-align:center;
	margin:0 10px;
	height:40px;
	line-height:40px;
	border-top-style:dotted;
	border-top-width:1px
}
.u_o_l_foot s {
	text-decoration:none;
	margin:0 7px
}
.u_o_l_foot a.u-o-clear {
	padding-left:16px;
	background-position:0 -97px;
	margin-left:10px;
	line-height:40px
}
.u_o_l_cont .u_o_l_c_list_scroll {
	height:241px;
	overflow:auto;
	position:relative
}
.u_o_l_c_list dd a {
	display:block;
	height:40px;
	line-height:40px;
	position:relative;
	border-bottom-width:1px;
	border-bottom-style:dotted;
	border-bottom-color:#505050;
	margin-bottom:-1px
}
.u_o_l_c_list dd a span {
	display:block;
	cursor:pointer
}
.u_o_l_c_list dd a span.u-p-l-title {
	float:left;
	margin-left:10px;
	width:150px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	_margin-left:0;
	_padding-left:10px
}
.u_o_l_c_list dd a span.u-p-l-date {
	float:right;
	margin-right:20px;
	_margin-right:0;
	_padding-right:20px;
	width:101px;
	text-align:right
}
.u_o_l_c_list dd a s {
	position:absolute;
	width:10px;
	height:10px;
	top:12px;
	right:2px;
	cursor:pointer;
	background-position:0 -1000px
}
.u_o_l_c_list dd a:hover s {
	background-position:0 -128px
}
#msg_box {
	position:fixed;
	_position:absolute;
	z-index:10000;
	width:100%;
	left:0;
	top:46%;
	text-align:center
}
#msg_box .msgbox_layer_c,#msg_box .msgbox_layer {
	display:inline-block;
	height:54px;
	font-size:14px;
	font-weight:bold
}
#msg_box .msgbox_layer_c {
	z-index:10000;
	position:relative;
	margin:0 auto;
	line-height:54px;
	padding-right:18px
}
#msg_box .msgbox_layer {
	position:absolute;
	width:45px;
	top:0;
	left:-45px
}
#msg_box .msgbox_layer_s {
	background-position:10px 16px
}
#msg_box .msgbox_layer_w {
	background-position:-40px 15px
}
#msg_box .msgbox_layer_e {
	background-position:-88px 15px
}
.fixed_btn_scroll {
	position:fixed;
	_position:absolute;
	width:60px;
	height:60px;
	bottom:5px;
	left:50%;
	overflow:hidden;
	text-indent:-999px;
	margin-left:488px;
	filter:alpha(opacity=50);
	opacity:.5;
	z-index:2
}
.fixed_btn_scroll:hover {
	filter:alpha(opacity=90);
	opacity:.9
}
.fixed_btn_scroll:hover s {
	background-position:0 -60px
}
.fixed_btn_scroll s {
	position:absolute;
	right:1px;
	top:3px;
	width:11px;
	height:11px;
	cursor:pointer;
	display:block;
	background-position:0 100px
}
.fixed_btn_scroll s.over {
	background-position:0 -45px
}
.dialog {
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#330099ff',endColorstr='#330099ff');
	background-color:rgba(00,153,255,0.2);
	padding:12px
}
.d-inner .d-title {
	height:40px;
	position:relative;
	line-height:40px
}
.d-inner .d-title .d-txt {
	font-size:16px;
	padding-left:20px;
	margin-right:41px;
	cursor:move
}
.d-inner .d-title .d-close {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:40px;
	border-left-style:solid;
	border-left-width:1px;
	overflow:hidden;
	text-indent:-999px;
	background-position:13px 12px
}
.d-inner .d-title .d-close:hover {
	background-position:13px -18px;
	_background-position:13px 12px
}
.dialog .log_reg_func {
	width:360px;
	margin:30px auto 0
}
.dialog .log_reg_func li {
	margin-bottom:22px
}
.dialog textarea {
	border-style:solid;
	border-width:1px;
	width:100%
}
.f-inp-txt {
	height:36px;
	border-style:solid;
	border-width:1px;
	position:relative;
	z-index:1
}
.f-inp-txt label {
	display:block;
	position:absolute;
	left:5px;
	top:9px;
	letter-spacing:1px;
	cursor:text
}
.f-inp-txt input {
	display:block;
	border:0;
	width:98%;
	height:18px;
	line-height:18px;
	margin-top:8px;
	background:0;
	font-family:"Microsoft YaHei",Tahoma;
	font-size:16px;
	margin-left:5px;
	position:relative
}
.f-inp-btn , .f-wrap input{
	border:0;
	cursor:pointer;
	text-align:center;
	width:90px;
	height:30px;
	line-height:30px;
	letter-spacing:2px;
	font-size:13px
}
.login-dialog .reg {
	margin-left:10px
}
.dialog .checkbox {
	display:inline-block;
	margin-left:10px;
	font-size:14px;
	position:relative;
	top:-5px
}
.dialog .checkbox input {
	margin-right:2px
}
.dialog .d-info {
	display:inline-block;
	position:relative;
	top:-5px;
	margin-left:10px;
	letter-spacing:1px
}
.fix-dialog .log_reg_func {
	margin-top:20px
}
.fix-dialog .log_reg_func li {
	margin-bottom:10px
}
.fix-dialog .log_reg_func li.f-chk input {
	position:relative;
	top:1px;
	margin-right:2px
}
.fix-dialog .log_reg_func li.f-title {
	font-size:14px
}
.fix-dialog textarea {
	height:60px
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.dialog .log_reg_func {
	padding-bottom:1px
}
.f-inp-txt input {
	height:22px;
	line-height:22px;
	margin-top:7px
}
.dialog .checkbox,.dialog .d-info {
	top:1px
}
.fix-dialog .log_reg_func li.f-chk input {
	top:2px;
	margin-right:4px
}
}
#ttk_nav_left{
	position:absolute;
    width: 150px;
	bottom:0;
	/*
	height:120px;
	bottom:12px;
	left:13px;
	overflow:hidden
	*/
}
.no_left_menu .wrap_nav{
	height:auto;
}
.no_left_menu .wrap_nav li{
	display:none
}
.no_left_menu .wrap_nav li.w_m_index{
	display:block;
	margin-top:5px;
}
.no_left_menu .wrap_nav #ttk_nav_left{
	display:none;
}
.no_left_menu .wrap{
	width:100%;
	_width:1175px;
}
.no_left_menu .wrap .frame{
	overflow:hidden;
}